img{
    height: 150px;
    width: 150px;
}
table{
    width: 100%;
}
table, td{
    border: solid 2px black;
}
.pricePurchasedProduct{
    background-color: wheat;
    font-size: 32px;
    font-weight: 900;
}
.detailsPurchasedProduct{
    background-color: rgb(255, 244, 222);
    font-size: 22px;
}
.x{
    fill: red
}
.x :hover{
    fill: rgb(122, 46, 46);
}

.xtr :hover{
    background-color: red;
}
.deleteBtn{
    color:  red;
    border: none;
    font-size: 18px;
    background-color: transparent;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-radius: 5px;
}
.divForDeleteBtn{
    text-align: end;
}
.deleteBtn:hover{
    background-color: rgba(104, 3, 3, 0.205);
    border: none;
    color:  white;
}

label{
    font-size: 20px;
    color: red;
}
.BuyProductsBtn{
    background-color: rgba(245, 222, 179, 0.479);
    font-size: 22px;
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}